.body{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center
}
hr{
    width:500px;
}
#board{
    width:400px;
    height:400px;
    background-color:#bbada0;
    border:6px solid #bbada0;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;

}
.tile{
    width:90px;
    height:90px;
    border:5px solid #bbada0;
    font-size:40px;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
}
.x2 {
    background-color: #eee4da;
    color:#776e65;
}
.x4{
    background-color:#ece0ca;
    color:white;
}
.x8{
    background-color:#f4b17a;
    color:white;
}
.x16{
    background-color:#f59563;
    color:white;
}
.x32{
    background-color:#f67c5f;
    color:white;
}
.x64{
    background-color:#f65e3b;
    color:white;
}
.x128{
    background-color:#edcf72;
    color:white;
}
.x256{
    background-color:#edcc61;
    color:white;
}
.x512{
    background-color:#edc850;
    color:white;
}
.x1024{
    background-color:#edc53f;
    color:white;
}
.x2048{
    background-color:#edc22e;
    color:white;
}
.x4096{
    background-color:#a6c;
    color:white;
}
.x8192{
    background-color:#a6c;
    color:white;
}